/* ==========================================================================
   Buttons
   ========================================================================== */

.c-btn-close {
	width: 25px;
	height: 25px;
	background-color: $c-black;
	color: $c-white;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	display: block;
	border-radius: 100px;
}