/* ==========================================================================
   Components
   ========================================================================== */

.c-commponent-1 {
	font-size: 14px;
}

.c-commponent-1 {
	@media (max-width: 1366px) {
		font-size: 12px;
	}
}

/*========================================================================== */

.c-commponent-2 {
	height: 100px;
}

.c-commponent-2 {
	@media (max-width: 1366px) {
		height: 80px;
	}
}

/*========================================================================== */