<!DOCTYPE html>
<html lang="pl">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link href="img/favicon.ico" rel="shortcut icon">
        <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="img/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
        <link href="css/styles.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    </head>

	<body>
        <div class="page">
            <nav>
            	<header class="main-header">
                    <a href="/"><img src="img/header_logo.png" alt="Logo"></a>
                    <ul>
                        <a href="#"><li>#BezcenneNiespodzianki</li></a>
                        <a href="#"><li>Weź udział w konkursie </li></a>
                        <a href="#"><li>Zarejestruj opaskę</li></a>
                    </ul>
                </header>
            </nav>    
			<section class="main-container">
                <div class="main-container-inner">
                    <div class="main-container-inner-logo">
                        <img src="img/header_logo2.png" alt="Logo">
        				<h1>priceless surprises</h1>
                    </div>    
                    <h2>Płacąc kartą Mastercard®,</h2> 
                    <p>nigdy nie wiesz kiedy spotka Cię BEZCENNA NIESPODZIANKA!</p>
                    <button class="main-button"><a href="/">Obejrzyj</a></button>
                </div>    
			</section>
            <section class="informations">
                <div class="conditions">
                    <div class="conditions-top">
                        <h3>Nigdy nie wiesz, kiedy mogą </br>Cię spotkać #BezcenneNiespodzianki! Korzystaj z Mastercard® i pozwól się zaskoczyć!</h3>
                    </div>
                    <ul>
                        <li>
                            <img src="img/conditions_1_element.png"/>
                            <p class="conditions-first-paragraph">Upewnij się, że posiadasz kartę Mastercard®</p>
                        </li>
                        <li>
                            <img src="img/conditions_2_element.png"/>
                            <p class="conditions-second-paragraph">Wypełnij formularz i opisz, jaką niespodziankę sprawiłbyś bliskiej osobie</p>
                        </li>
                        <li>
                            <img src="img/conditions_3_element.png"/>
                            <p class="conditions-third-paragraph">Płać kartą Mastercard® we wszystkich punktach sprzedaży, bo nigdy nie wiesz kiedy może spotkać Cię #BezcennaNiespodzianka!</p>
                        </li>
                        <li>
                            <img src="img/conditions_4_element.png"/>
                            <p class="conditions-fourth-paragraph">Śledź profil Mastercard® na Facebooku i Instagramie i bądź na bieżąco z #bezcennyminiespodziankami</p>
                        </li>
                    </ul>    
                </div>
                <div class="registration">
                lol
                </div>
            </section>
			<footer class="l-footer"></footer>
		</div>
	</body>			

<script src="js/plugins/jquery-3.1.1.min.js"></script>
<script src="js/plugins/mobile-detect.min.js"></script>
<script src="js/plugins/jquery.browser.detection.js"></script>
<script src="js/main.js"></script>
