/* ==========================================================================
   Fonts
   ========================================================================== */

 @font-face {
 	font-family:'Regular';
	src: url('../fonts/MarkScForMCNarrowW00-Rg') format("truetype");
}
 @font-face {
 	font-family:'Light';
	src: url('../fonts/MarkForMC-Lt') format("truetype");
}