/* ==========================================================================
   Variables
   ========================================================================== */


/* Colors
========================================================================== */
$c-black: #000;
$c-white: #fff;


/* Fonts
========================================================================== */
$f-default: Arial, Tahoma, sans-serif;


/* Sizes
========================================================================== */
