/* ==========================================================================
   Main
   ========================================================================== */

.l-app {
	max-width: 1400px;
	width: 100%;
	margin: auto;
}

/*========================================================================== */

.l-main {
    display: block;
}