/* ==========================================================================
   Main
   ========================================================================== */

.l-app {
	position: relative;
	max-width: 1401px;
	width: 100%;
	margin: auto;
}

/*========================================================================== */

.l-main {
    display: block;
}